.login-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    padding: 20px;

 }

.input-text {
    text-align: center;
    background-color: #ECF0F1;
}

.login-title {
    position: relative;
    left: 25%;
}

.btn-position {
    position: relative;
    left: 32%;
}

body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}