<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <form action="/login" method="POST">
                <div class="container-fluid">
                    <h2>Login</h2>

                    <div class="form-group">
                        <input type="text" class="form-control" value="" placeholder="username" name="username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" value="" placeholder="password" name="password">
                    </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-small">
                    <br>
                </div>
            </form>
        </div>
    </body>
</html>